* {
  padding: 0;
  margin: 0;
}
.container {
  width: 300px;

  padding: 10px;
}

.content {
  display: flex;
  align-items: center;
  flex-direction: column;

  gap: 6px;
}

.title {
  margin-bottom: 10px;
}

input {
  border-radius: 4px;
  border: 1px solid lightgray;

  padding: 10px 4px;
}

.search-input {
  width: 100%;
}

.image-length-input {
  width: 100%;
}

.search-button {
  width: 100%;
  border: none;
  transition: 200ms;
  background-color: rgb(239, 102, 22);
  color: white;
  font-weight: 800;
  cursor: pointer;

  padding: 10px 0;

  &:active {
    transform: scale(1.05);
  }
}
